<a href="/profile">&lt; Back to my profile</a>
{{!-- <div class='page'> --}}
<h1>Edit profile </h1>
<h2>{{user.username}}</h2>
  <div class="container containerpic">
{{#if user.avatar}}
<img class="avatar" src="{{user.avatar}}" alt="">
{{else}}
<img class="avatar" src="../../images/user-test.png" alt="">
{{/if}}
</div>

<div class="container">
  <div>
<h3><b>Upload new picture:</b></h3>
<form action="/profile/edit" method="POST" enctype="multipart/form-data">
    <input class="upload" type="file" name="photo">  
  <button class="button" type="submit" name="update_picture" >Update picture</button>
</form>
</div> 

<div>
<h3><b>Update email address:</b></h3>
  <div>
    <p>Current email: {{user.email}}</p>
  </div>
  <form action="/profile/edit" method="POST">
  <div>
    <label for="email">New email:</label>
    <input id="email" type="text" name="email" value="{{user.email}}" placeholder="JohnDoe@email.com">
  </div> 
  <div class="container"> 
  <button class="button" name="update_email" type="submit" >Update email</button>
</div>
</form> 
</div> 
</div>
<div class="container">
  <form action="/profile" method="POST">
    <button class="button">Delete profile</button>
  </form>
</div>
<!-- Faire le lien avec la bd --> 
<!-- Faire un pop up de confirmation de la suppression du profil --> 
</div>
<div>



