<a href="/profile">&lt; Back to my profile</a>

<h1>My trees</h1>

{{#if usertree}}
<div class="grid">
    {{#each usertree}}
    <div class='tree-block'>
    <img src="{{image}}"/>
    <h2><b>{{name}} - {{family}}</b></h2>
    <p><b>Planted in:</b> {{country}}</p>
    <p><b>On:</b> {{prettifyDate createdAt}}</p>
    <p>{{description}}</p>

    </div>
    {{/each}}
</div>
{{else}}
<h2>You don't have any tree yet!</h2>
<a class="button" href="/plant">plant a tree</a>
{{/if}}

