<a href="/">&lt; Back to all trees list</a> 

<h1>{{user.username}}'s profile</h1>
<div class="container">
{{#if user.avatar}}
<img class="avatar" src="{{user.avatar}}" alt="">
{{else}}
<img class="avatar" src="../../images/user-test.png" alt="">
{{/if}}

{{#if user.trees}}
<h2>User has planted the following trees:</h2>

<div class="grid">
    {{#each trees}}
    <div class='tree-block'>
    <img src="{{image}}"/>
    <h2><b>{{name}} - {{family}}</b></h2>
    <p><b>Planted in:</b> {{country}}</p>
    <p><b>On:</b>  {{created_at_short}}</p>
    <p class="description hidden">{{description}}</p>

    </div>
    {{/each}}
</div>
{{else}}
<h2>{{user.username}} hasn't planted any tree yet!</h2>
{{/if}}