<h1>Congratulations!</h1>
{{#if tree}}
<h2>You have planted <strong><em>{{tree.name}}</em></strong>, a <strong>{{tree.family}}</strong> in <strong>{{tree.country}}</strong> !</h2>
<div class="tree-block">
<img src="{{tree.image}}" alt="" class="tree-img">
<p class="description hidden">{{tree.description}}</p>
</div>
{{/if}}

<footer>
  <nav>
    <a class="button" href="/profile/mytrees">See all my trees</a>
    <a class="button" href="/alltrees">See all world trees</a>
    <a class="button" href="/plant">plant another</a>
  </nav>
</footer>