<a href="/">&lt; Back home</a>

<div>
  {{#if user}}
  <h1>{{user.username}}, choose a tree to plant</h1>
  {{else}}
  <div class="container">
    <h1>Login to plant tree</h1>
    <a class="button" href="/login">Go to login</a>
  </div> 
  {{/if}}
  </div>
<div class="grid">
    {{#each tree}}
      <div class='tree-block'>
        <img src="{{image}}"/>
        <h2><strong>{{family}}</strong></h2>
        <p class="description hidden"><b>Description:</b> {{description}}</p>
        <p class="description hidden"><b>Shape/height:</b> {{shape}} {{height}}</p>
        <p class="description hidden"><b>Origin:</b> {{origin}}</p>
        <p class="description hidden"><b>Environment:</b> {{environment}}</p>
        <p class="description hidden"><b>Climate:</b> {{climate}}</p>
      {{#if ../user}}
        <button type="button" class="button" data-toggle="modal" data-target="#{{family}}">
          Select and plant this tree
        </button>
        {{else}}
        <a class="button" href="/login">Login to plant tree</a>
        {{/if}}
      </div>
    
    <!-- Modal -->

<div class="modal fade" id="{{family}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <form action="/plant/confirmation" method="POST">
          <input class="hidden" type="text" name="image" value="{{image}}">
          <input class="hidden" type="text" name="family" value="{{family}}">
          <input class="hidden" type="text" name="shape" value="{{shape}}">
          <input class="hidden" type="text" name="description" value="{{description}}">
          <input class="hidden" type="text" name="origin" value="{{origin}}">
          <input class="hidden" type="text" name="climate" value="{{climate}}">
          <input class="hidden" type="text" name="environment" value="{{environment}}">
          <input class="hidden" type="text" name="creatorID" value="{{../user._id}}">
          <div class="modal-header">
            <h3 class="modal-title">Plant a {{family}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>This tree is available in the following countries, please select:</p> <br/>
        <select name="country">
          {{#each this.availability}}
            <option value="{{this}}">{{this}}</option>
          {{/each}}
        </select>
      </div>
      <label class="modal-body">Now give your tree a name!<br/><input type="text" name="name" value=""></label>
      <div class="modal-footer">
        <button type="button" class="button grey" data-dismiss="modal">Cancel</button>
        <button type="submit" class="button">Plant tree</button>
      </div>
    </form>
    </div>
  </div>
</div>
    {{/each}}
</div>

</div>